<div class="jumbotron">
    <h6 class="text-center">EECSA Engineering Services Pvt. Ltd.</h6>
    <hr>
    <div class="row justify-content-center">
        <div class="col-auto">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <p>Products</p>
                </li>
                <li class="nav-item" *ngFor="let product of products; let i=index" style="cursor: pointer;">
                    <a class="nav-link" [routerLink]="['/products/'+i]">{{ product.name }}</a>
                </li>
            </ul>
        </div>
        <div class="col-auto">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <p>Services</p>
                </li>
                <li class="nav-item" *ngFor="let service of services; let i=index" style="cursor: pointer;">
                    <a class="nav-link" [routerLink]="['/services/'+i]">{{ service.name }}</a>
                </li>
            </ul>
        </div>
        <div class="col-auto">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <p>Jobs</p>
                </li>
                <li class="nav-item" *ngFor="let job of jobs; let i=index" style="cursor: pointer;">
                    <a class="nav-link" [routerLink]="['/jobs/'+i]">{{ job.name }}</a>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <div class="text-center">
        <a routerLink="/contact">Contact Us</a>
    </div>
</div>